body{
    background: url(bg.jpg) no-repeat;
}
button{
    background: red;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.buttons {
    width: max-content;
    margin: 20px auto;
}

.card {
    width: 700px;
    margin: 10px auto;
}

.card img, .card video {
    width: 100%;
}